@font-face{
    font-family: PeppaStyle;
    src: url("Budgeta Script.otf");
}
body{
    background-image: url(PeppaBackground.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: PeppaStyle;
}
.peppa{
    position: relative;
    top: 500px;
    right: -900px;
}
.bt{
    
    position: relative;
    top:700px;
    right: -900px;
}